// Backgrounds
$color-background: rgb(250, 250, 250);
$color-card: rgb(255, 255, 255);

// Text
$color-text-dark: rgb(17, 24, 39);

// Inputs and Borders
$color-input: rgb(229, 231, 235);
$color-border: rgb(209, 213, 219);

// Primary Button
$color-primary: rgb(37, 99, 235);
$color-primary-hover: rgb(30, 64, 175);

// Shadows
$shadow-card: 0 4px 12px rgba(1, 0, 0, 0.05);

// icons
$icon: rgba(209, 213, 219);
