@use 'colors' as c;
@import 'resets';

@mixin label($font: unset){
    position: absolute;
    min-height: 100%;
    min-width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background: c.$color-input;
    font-size: $font;
}
html{
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: c.$color-background;
    color: c.$color-text-dark;
}
main{
    background-color: c.$color-card;
    padding: 1.5rem 1.2rem;
    width: 43.75rem;
    border-radius: 25px;
    box-shadow: c.$shadow-card;
}
.main__form{
    margin-bottom: 1rem;
}
.main__form h1{
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    text-align: center;
}
.wrapper{
    position: relative;
    margin-bottom: .7rem;
}
.main__form label{
    @include label();
}
.main__form input[type="number"]{
    padding: .4rem 0;
    padding-left: 2.2rem;
    font-size: .8rem;
}
.main__form button{
    padding: .5rem 0;
    font-size: .9rem;
    border: none;
    color: c.$color-card;
    background: c.$color-primary;
    transition: .2s linear;
    width: 100%;
    border-radius: 7px;
        &:hover{
            background: c.$color-primary-hover;
        }
}
.loadingAnimation{
    font-size: .8rem;
    display: none;
    text-align: center;
}
.progress{
    width: 100%;
    background-color: c.$color-background;
    border: 1px solid c.$color-border;
    border-radius: 7px;
    text-align: center;
}
.progress__animation{
    width: 0;
    background-color: c.$color-primary-hover;
    padding: .5rem 0;
    border-radius: inherit;
    transition: width .3s linear;
}
input{
    width: 100%;
    border: 1px solid c.$color-border;
    border-radius: 7px;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.results{
    display: none;
}

.results h2{
    font-size: 1.1rem;
    margin-bottom: 0.625rem;
    text-align: center;
}
.result__wrapper{
    font-size: .8rem;
    border: 1px solid c.$color-border;
    border-radius: 7px;
    display: flex;
    align-items: center;
}
#monthly__payment, #total__interest, #total__payment{
    flex: 1;
    padding: .3rem 0;
    padding-left: .4rem;
}
.results .result__wrapper:not(:last-child){
    margin-bottom: .7rem;
}
.results__label{
    padding: .3rem;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background: c.$color-input;
}
@media screen and (max-width: 58.438rem){
    main{
    width: 31.25rem;
}
}
@media screen and (max-width: 41.875rem){
    main{
    width: 25rem;
}
}
@media screen and (max-width: 33.125rem){
    main{
        width: 100%;
    }
    body{
        display: grid;
        place-content: unset;
        
    }
}
